/*Formatações gerais*/

*{box-sizing: border-box;
font-size: 12pt;
font-family: "Times New Roman";
margin: 0 0 0 0;
color: black;
}

#mostra{
border-radius: 4px;
background-color: blue;
color: white;
text-align: center;
}

.link ul li{
color: blue;
font-size: 11pt;
text-align: justify;
}

.facun{width: 320px; margin: 0 auto;}

.link ul{
border: none;
background-color: yellow;
}

#internet
{
border-radius: 50px 50px;
background-color: darkorange;
box-shadow: 10px 5px 5px 1px black;
font-size: 11pt;
font-style: italic;
font-family: georgia;
}

p,section{
text-indent: 10px;
text-align: justify;
font-family: 'Times New Roman';
font-size: 10pt;
}

p::first-letter{font-style: italic;}

a{
text-decoration: none;
color: darkblue;
font-size: 10pt;
}

img{width: 200px;}

.guerra{height: 200px;}

.corpo-rodape{background-color: black;}

footer{
margin-top: 9%;
padding: 13px;
box-shadow: 1px 1px 3px 2px gray;
}

footer p{
color: white;
}

.unico{
width: 20px;
height: 20px;
margin: 2px;
}

#rt
{
margin-top: 5.5px;
margin: 0 auto;
width: 40px;
height: 40px;
border-radius: 100%;
background-color: cyan;
display: flex;
justify-content: center;
align-items: center;
}

#rt > div
{
border-left: solid 3px white;
border-right: solid 3px white;
border-bottom: solid 3px white;
border-top: solid 3px white;
width: 30px;
height: 30px;
border-radius: 100%;
background-color: black;
}

.cont-img{
display: flex;
justify-content: flex-end;
margin-top: -2%;
}

.voa{
background-color: white;
margin: 0 auto;
text-align: center;
}

/*Fim... */

/*Formatação do cabeçalho da página HOME VIEW MORE*/

a li{
text-decoration: underline;
font-style: italic;
color: gray;
}

header{
background: linear-gradient(180deg, black, darkblue, white, gray);
margin-bottom: 4px;
padding: 10%;
box-shadow: 2px 2px 1px 1px gray;
}

header nav{
display: flex;
}

nav a{
font-size: 9pt;
border-bottom: dashed 1px blue;
border-top: solid 1px blue;
margin-bottom: 5px;
}

nav{
width: 100%;
margin: 0 auto;
margin-top: 8px;
margin-bottom: 2px;
padding: 2%;
border-radius: 3px 10px;
}

form{
text-align: center;
}

.btn{
background: gray;
opacity: 0.5;
font-family: georgia;
font-size: 10pt;
color: white;
font-style: italic;
font-weight: bolder;
}

.btn, .pesq{border: 0px;}

form .pesq{width: 150px;}

nav{
justify-content: space-around;
flex-wrap: wrap;
align-items: center;
background-color: black;
}

.n-1{margin-left: 0px;}

.M{margin-right: 0px;}

.n-1, .n-2, .n-3, .n-4, .n-5, .n-6{
font-style: oblique;
font-weight: bold;
text-transform: uppercase;
}

.n-1{
color: green;
}

.n-2{
color: red;
}

.n-3{
color: orange;
}

.n-4{
color: cyan;
}

.n-5{
color: lightblue;
}

.n-6{
color: white;
}

.vazio2{
padding: 1%;
margin-bottom: 1%;
}

.vazio{
background-color: lightblue;
padding: 3px;
}

/*Fim...*/

/*Estilização da page extra*/

.borda{
background-color: white;
box-shadow: 3px 5px gray;
margin-top: 1%;
margin-bottom: 1%;
margin-right: 4px;
margin-left: 4px;
}

.cinza{
background-color: black;
}

#Up, #Aj, #Vh, #Es, #E, #Vi, #Cd, #Sg, #Acs{
color: white;
}

/*Fim...*/

/*Formatação do corpo da página HOME*/

.p-dif{
background-color: orange;
}

.tam{
font-size: 10pt;
}

ol li{
font-size: 9pt;
color: blue;
font-style: oblique;
font-variant: bolder;
}

dt, .ul{
color: green;
font-size: 10pt;
background-color: cyan;
}

.css{
max-width: 50%;
float: left;
clear: right;
border-left: solid 1px gray;
border-bottom: solid 1px gray;
font-size: 6px;
}

.html{
max-width: 50%;
float: left;
clear: right;
font-size: 6px;
}

#exp-tec
{
color: gray;
font-family: helvetica;
margin-top: 4%;
margin-bottom: 6%;
}

article h6 p
{
font-size: 3pt;
}

h6{
color: red;
font-size: 8pt;
font-style: italic;
text-align: right;
}

#borda
{
border: 2px solid gray;
box-shadow: 2px 2px 1px 1px gray;
background-color: darkgreen;
}

h4{
font-family: impact;
font-style: italic;
color: gray;
text-align: center;
}

h5{
color: black;
font-style: bolder;
font-family: serif;
}

.h5{
text-align: center;
}

h3{
margin-bottom: 6px;
text-align: center;
font-familiy: Serif;
}

.fQ
{
text-align: center;
font-style: italic;
font-size: 11px;
font-weight: bolder;
text-transform: lowercase;
text-shadow: gray 1px 1px;
box-shadow: black 7px 3px;
}

ul li{
font-style: bliquo;
font-size: 10pt;
font-family: Verdana, Helvetica, Calibri, 'Times New Roman';
}

hr{
margin-top: 4px;
margin-bottom: 3px;
background-color: red;
}

.branco li{
color: white;
}

/*Fim...*/

/*Formatação da página VIEW MORE*/

.cont-branco{
font-style: italic;
font-size: 11pt;
font-family: georgia;
text-indent: 5px;
}

section > h2{
background-color: gray;
font-variant: small-caps;
text-align: center;
font-weight: medium;
color: white;
}
.dif{
color: gray;
}

#pai
{background-color: rgba(7,2,0,0.1);}

figcaption{
font-size: 10px;
font-family: serif;
font-style: italic;
color: white;
margin-top: -3px;
background-color: green;
text-align: center;
text-transform: capitalize;
}

#mb
{
margin-top: 2%;
text-transform: uppercase;
text-align: center;
font-style: italic;
font-family: California;
font-size: 10px;
color: black;
opacity: 1;
width: 50%;
}

address{
font-size: 9pt;
font-family: calibri;
color: white;
text-align: center;
}
/
*Fim...*/

/*Formatação da página commuty*/

#tab-html
{
border: solid 1px gray;
}

/*Fim*/

/*Versão variável -formatação*/

@media (min-width: 480px)
{
img, .guerra{
width: 300px;
height: 300px;
}

figcaption{
font-size: 10pt;
text-align: center;
}

.n-1
{margin-left: 0px;}

.n-5
{margin-right: 0px;}

#mb
{
width: 70%;
}

.vazio2{
width: 400px;
}
}

@media (min-width: 1024px)
{
p, a, section, .tam{font-size: 12pt;
font-family: times new roman;
}

footer{
padding: 4%;
}

.facun{
width: 950px;
height: 300px;
margin: 30px;
}

 .unico{
width: 25px;
height: 25px;
margin: 2px;
}

}

}

/*Fim...*/

@media print
{
font-family: 'Times New Roman';
font-size: 12pt;
color: black;
}

@page{
size: A4 portrait;
}
